/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'nunito', sans-serif;
    overflow-x:hidden;
}

#menu{
    background-color: rgb(49, 0, 0), !important;
}

.breadcrumb-option {
	background: #f3f2ee;
	padding: 40px 0;
}

.breadcrumb__text h4 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 8px;
}

.breadcrumb__links a {
	font-size: 15px;
	color: #111111;
	margin-right: 18px;
	display: inline-block;
	position: relative;
}

.breadcrumb__links a:after {
	position: absolute;
	right: -14px;
	top: 0;
	content: "";
	font-family: "FontAwesome";
}

.breadcrumb__links span {
	font-size: 15px;
	color: #b7b7b7;
	display: inline-block;
}



.logo{
    width: 290px;
}

.slideimg{
    height: 100%;
}

/* Colombia */
#colombia{
    background-color: bisque;
}

#colombia .titulo{
    width: 100%;
    color: rgb(36, 2, 2);
    text-align: center;
}

.card-title{
    text-align: center;
}

.card{
    border-radius: 20px;
    box-shadow: 5px 5px 8px 1px rgba(58, 34, 16, 0.427);
}

.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
}

.buy{
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
    padding-left: 45px;
    padding-right: 45px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(251, 174, 49) 50%,rgb(148, 71, 3) 50%);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .5ease;
    
}
.buy:hover{
    background-position: right;
    color: aliceblue;

}




/* tours */
.tours{
    width: 180px;
    height: 160px;
    text-align: center;
}

.card-text{
    text-align: center;
}

.card-title{
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
}

.p-4{
    background-color: rgb(255, 150, 37) !important
}

/* testim */

.testimonial {
	background: #f3f2ee; 

}

.testimonial__text {
	text-align:left;
	padding: 130px 150px 175px;
    margin-right: 50%;
}

.testimonial__text p {
	color: #111111;
	font-size: 20px;
	font-style: italic;
	line-height: 30px;
	padding-top: 12px;
	margin-bottom: 25px;
}

.testimonial__author {
	display: inline-block;
    
}

.testimonial__author__pic {
	float: left;
	margin-right: 20px;
}

.testimonial__author__pic img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.testimonial__author__text {
	overflow: hidden;
	padding-top: 3px;
}

.testimonial__author__text h5 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 5px;
}

.testimonial__author__text p {
	color: #b7b7b7;
	margin-bottom: 0 !important;
	padding-top: 0;
}

.testimonial__pic {
	height: 500px;

}

.testimonial__text {
    margin-right: 20%;
}

.clearfix{
    background-color: antiquewhite;

}

/* testim */

.team {
	padding-bottom: 70px;
}

.team__item {
	margin-bottom: 50px;
}

.team__item img {
	min-width: 100%;
	margin-bottom: 25px;
    width: 20%;
}

.team__item h4 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 8px;
}

.team__item span {
	font-size: 15px;
	display: block;
	color: #b7b7b7;
}


.section-title {
	margin-bottom: 45px;
	text-align: center;
}

.section-title span {
	color: #e53637;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
	display: block;
}

.section-title h2 {
	color: #111111;
	font-weight: 700;
	line-height: 46px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}


/* contador */

.counter {
	padding-bottom: 0;
}

.counter .container {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 70px;
}

.counter__item {
	margin-bottom: 30px;
	overflow: hidden;
}

.counter__item .counter__item__number {
	float: left;
	margin-right: 15px;
}

.counter__item .counter__item__number h2 {
	color: #111111;
	font-weight: 700;
	font-size: 60px;
	line-height: 50px;
	display: inline-block;
}

.counter__item .counter__item__number strong {
	color: #111111;
	font-weight: 700;
	font-size: 60px;
	line-height: 50px;
	display: inline-block;
}

.counter__item span {
	display: block;
	color: #3d3d3d;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	overflow: hidden;
}



/* footer */
#page-footer .ftcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    background-color: black;
    padding: 70px 0;
}

.footer__cta-ftcontainer{
    max-width: 1200px;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}

.ftrow{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer__cta-ftcontainer .cta__txt{
    font-size: 36px;
    max-width: 50%;
    padding: 0;

}

.footer__cta-ftcontainer .cta__btn{
    margin-top: 0;
}

.footer__menu{
    max-width: 300px;
    grid-column: 1/3;
    grid-row-start: 1;
    padding-left: 1em;
}

.footer__menu figure{
    width: 100%;
    margin-top: 13px;
    padding: 0;
    margin: 0;
}

.footer__cta-ftcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    align-items: center;
    align-content: center;
    position: relative;
    flex-wrap: nowrap;
}

.footer__cta-ftcontainer:after{
    position: absolute;
    background-color: brown;
    max-width: 1200px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    content: "";
    height: 1px;
}

.footer__cta-ftcontainer .cta__txt{
    margin: 0;
    color: rgb(29, 18, 3);
    font-size: 26px;
    padding: 0 15px;
}

.footer__cta-ftcontainer .cta__btn{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(230, 111, 7);
    padding: 26px 60px;
    border-radius: 500px;
    background-color: transparent;
    font-size: 16px;
    letter-spacing: 2px;
    display: inline-block;
    transition: all .4s ease-in-out;
    margin-top: 30px;
}

.footer__cta-ftcontainer .cta__btn:hover{
    color: brown;
    background-color: black;
    border-color: brown;
}

.footer__menu{
    padding: 0 15px;
}

.footer__link{
    margin: 1em 0;
    list-style: none;
    font-size: 16px;
    padding: 5px 0 5px .5em;
}

.ft-social{
    border: 0;
    width: 30px;
    font-size: 16px;
    color: rgb(253, 253, 253);
    border-radius: 100%;
    display: inline-block;
    height: auto;
    line-height: inherit;
}

.ft-link{
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__link:nth-child(1){
    border-left: 3px solid coral;
}

.footer__link:nth-child(2){
    border-left: 3px solid rgb(186, 67, 24);
}

.footer__link:nth-child(3){
    border-left: 3px solid rgb(90, 27, 4);
}

.footer__link:nth-child(4){
    border-left: 3px solid rgb(57, 16, 1);
}

.footer__title{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
}

.footer__info{
    color: aliceblue;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;
    
}
footer{
    background-color: black;
    min-height: 100px;
}

footer p{
    color: antiquewhite;
    text-align: center;
}

#page-footer .ftcontainer{
    flex-direction: row;
    max-width: 1200px;
    justify-content: space-between;
    padding: 70px 0;
    margin: auto;
}

.footer__logo{
    width: 100%;

}

/* pag contacto */
#contacto .titulo {
    width: 100%;
    text-align: center;
}

.about {
	padding-bottom: 70px;
}

.about__pic {
	margin-bottom: 35px;
}

.about__pic img {
	min-width: 100%;
}

.about__item {
	margin-bottom: 30px;
}

.about__item h4 {
	color: #dd790f;
	font-weight: 700;
	margin-bottom: 10px;
}

.about__item p {
	margin-bottom: 0;
}